name: Flutter Branch Workflow
env:
  ENVIRONMENT_FILE: .env

on:
  workflow_call:
    inputs:
      ios-build-arguments:
        description: "any extra arguments such as using sksl or passing a variable using --dart-define etc. for iOS build"
        type: string
        required: false
      android-build-arguments:
        description: "any extra arguments such as using sksl or passing a variable using --dart-define etc. for Android build"
        type: string
        required: false
      working-directory:
        description: "the directory to run each job of the workflow in"
        type: string
        default: "."
      static-analysis:
        description: "Run static analysis with Sonarqube"
        type: boolean
        required: false
        default: false
      git-lfs:
        description: "Checkout the project with git lfs"
        type: boolean
        default: false
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate-build-number:
    # runs-on: [self-hosted]
    runs-on: default-k8s-runner
    outputs:
      build-number: ${{ steps.build-number-generator.outputs.build-number }}
    steps:
      - name: Generate Build Number
        id: build-number-generator
        run: |
          build_number=$(date +%s)
          echo "build-number=$build_number" >> $GITHUB_OUTPUT
          echo "Build Number: $build_number"
  lint:
    # runs-on: [self-hosted]
    runs-on: default-k8s-runner
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
          git-lfs: ${{ inputs.git-lfs }}
      - uses: QuickBirdEng/actions/setup-flutter@main
        with:
          use-cache: false
          clean: true
          working-directory: ${{ inputs.working-directory }}
          skip-pub-get: true
          skip-build-runner: true
      - run: flutter analyze

  test:
    # runs-on: [self-hosted, Linux]
    runs-on: default-k8s-runner
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
          git-lfs: ${{ inputs.git-lfs }}
      - uses: QuickBirdEng/actions/setup-flutter@main
        with:
          use-cache: false
          clean: true
          working-directory: ${{ inputs.working-directory }}
      - run: flutter test --dart-define STAGE=mock

  static-analysis:
    # runs-on: [self-hosted, Linux]
    runs-on: default-k8s-runner
    if: ${{ inputs.static-analysis }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
          git-lfs: ${{ inputs.git-lfs }}
      - uses: QuickBirdEng/actions/setup-flutter@main
        with:
          use-cache: false
          clean: true
          working-directory: ${{ inputs.working-directory }}
      - uses: QuickBirdEng/actions/sonarqube-flutter@main
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN_FLUTTER }}
          sonar-host-url: ${{ secrets.SONAR_HOST_URL }}

      # Check the Quality Gate status.
      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FLUTTER }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  test-coverage:
    # runs-on: [self-hosted, Linux]
    runs-on: default-k8s-runner
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
          git-lfs: ${{ inputs.git-lfs }}
      - uses: QuickBirdEng/actions/setup-environment@main
      - uses: QuickBirdEng/actions/setup-flutter@main
        if: ${{ env.CODE_COVERAGE != '' && env.CODE_COVERAGE != 0 }}
        with:
          use-cache: false
          clean: true
          working-directory: ${{ inputs.working-directory }}
      - run: flutter test --coverage --dart-define STAGE=mock
        if: ${{ env.CODE_COVERAGE != '' && env.CODE_COVERAGE != 0 }}
      - uses: QuickBirdEng/actions/flutter-coverage@main
        with:
          path: ${{ env.CODE_COVERAGE_FILE_PATH }}
          min_coverage: ${{ env.CODE_COVERAGE }}
          exclude: ${{ env.CODE_COVERAGE_EXLUDE_FILE }}
        if: ${{ env.CODE_COVERAGE != '' && env.CODE_COVERAGE != 0 }}

  build-ios:
    runs-on: [self-hosted, macOS]
    needs: [generate-build-number, test, lint]
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
          git-lfs: ${{ inputs.git-lfs }}
      - uses: QuickBirdEng/actions/setup-ios@main
        with:
          use-cache: false
      - uses: QuickBirdEng/actions/flutter-build@main
        with:
          use-cache: false
          clean: true
          build-number: ${{ needs.generate-build-number.outputs.build-number }}
          build-type: "ios"
          build-arguments: --no-codesign ${{ inputs.ios-build-arguments }}
          working-directory: ${{ inputs.working-directory }}

  build-android:
    runs-on: [self-hosted]
    needs: [generate-build-number, test, lint]
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
          git-lfs: ${{ inputs.git-lfs }}
      - uses: QuickBirdEng/actions/setup-android@main
        with:
          key-store-file-content: ${{ secrets.ANDROID_KEYSTORE_FILE_CONTENT }}
          key-store-password: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          signing-key-alias: ${{ secrets.ANDROID_SIGNING_KEY_ALIAS }}
          signing-key-password: ${{ secrets.ANDROID_SIGNING_KEY_PASSWORD }}
          qbs-maven-username: ${{ secrets.QBS_DEV_MAVEN_USERNAME }}
          qbs-maven-password: ${{ secrets.QBS_DEV_MAVEN_PASSWORD }}
      - uses: QuickBirdEng/actions/flutter-build@main
        with:
          use-cache: false
          clean: true
          build-number: ${{ needs.generate-build-number.outputs.build-number }}
          build-type: "apk"
          build-arguments: ${{ inputs.android-build-arguments }}
          working-directory: ${{ inputs.working-directory }}
