name: SOUP - Generate all Missing
env:
    GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}

on:
  workflow_call:
    inputs:
      base-branch:
        description: 'The base branch to compare against (e.g., main)'
        required: false
        type: string
        default: 'main'
jobs:
  generate-missing:
    runs-on: [self-hosted, Linux]
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
      - shell: bash
        run: git clean -ffdx
      - name: Generate All Missing SOUPs
        uses: QuickBirdEng/actions/soup-generate-all-missing@main
        with:
          repository: ${{ github.event.repository.name }}
          gh-api-token: ${{ env.GH_API_TOKEN }}
          soup-approvers: ${{ vars.SOUP_APPROVERS }}
          base-branch: ${{ inputs.base-branch }}
          slack-webhook-url: ${{ secrets.SOUP_APPROVERS_WEBHOOK_URL }}
          github-to-slack-mapping: ${{ vars.SOUP_APPROVERS_GITHUB_TO_SLACK_ID_MAPPING }}
