name: SOUP - Check Changes and Generate Missing
env:
    GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}

on:
  workflow_call:
    inputs:
      base-branch:
        description: 'The base branch to compare changes against'
        required: false
        type: string
        default: 'main'
jobs:
  generate-missing:
    runs-on: [self-hosted, Linux]
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
      - name: Check for Changes and Generate Missing SOUPs
        uses: QuickBirdEng/actions/soup-check-changes-and-generate@main
        with:
          repository: ${{ github.event.repository.name }}
          gh-api-token: ${{ env.GH_API_TOKEN }}
          soup-approvers: ${{ vars.SOUP_APPROVERS }}
          base-branch: origin/${{ github.event.pull_request.base.ref || inputs.base-branch || 'main' }}
          slack-webhook-url: ${{ secrets.SOUP_APPROVERS_WEBHOOK_URL }}
          github-to-slack-mapping: ${{ vars.SOUP_APPROVERS_GITHUB_TO_SLACK_ID_MAPPING }}