name: SOUP - Temporary Approval
env:
    GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}

on:
  workflow_call:
    inputs:
      approval-reason:
        description: 'Reason for temporary approval'
        required: true
        type: string

jobs:
  verify-and-update-approval:
    if: github.ref_name != 'main' && contains(format(',{0},', vars.SOUP_APPROVERS), format(',{0},', github.triggering_actor))
    runs-on: [self-hosted, Linux]
    steps:
      - uses: QuickBirdEng/actions/checkout-ssh@main
        with:
          ssh-private-key: ${{ secrets.CI_SSH_PRIVATE_KEY_FOR_GITHUB_PRIVATE_REPOS }}
      - name: Fetch unapproved SOUP files
        id: fetch-soup-files
        shell: bash
        run: |
          JSON_FILES=$(find .soups -name "*.json" | while read -r FILE; do
            if jq -e '
              (.metadata.approval.is_temporary != true) and
              (.metadata.approval.by == null or .metadata.approval.by == "" or
               .metadata.approval.date == null or .metadata.approval.date == "")
            ' "$FILE" > /dev/null 2>&1; then
              echo "$FILE"
            fi
          done)

          if [ -z "$JSON_FILES" ]; then
            echo "No unapproved SOUP files found"
            echo "skip-remaining-steps=true" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          echo "skip-remaining-steps=false" >> "$GITHUB_OUTPUT"
          echo "Found SOUP files: $JSON_FILES"

          for FILE in $JSON_FILES; do
            INVALID=$(jq -r '
              .metadata.approval.is_temporary? as $temp
              | .requirements
              | to_entries
              | map(
                  select(
                    (.value.fulfilled != true)
                    and
                    ((.value.reason_if_requirement_not_fulfilled | tostring) == "")
                    and
                    ($temp != true)
                  )
                )
              | .[].key
            ' "$FILE")

            if [ -n "$INVALID" ]; then
              INVALID_LIST=$(echo "$INVALID" | tr '\n' ',' | sed 's/,$//')
              echo "⚠️ $FILE -> $INVALID_LIST — setting is_temporary=true"
              jq --arg reason "${{ github.event.inputs.approval-reason }}" \
                '.metadata.approval.is_temporary = true | .metadata.approval.is_temporary_reason = $reason' \
                "$FILE" > "${FILE}.tmp" && mv "${FILE}.tmp" "$FILE"
            fi
          done
      - name: Commit temporary approvals
        if: steps.fetch-soup-files.outputs.skip-remaining-steps == 'false'
        shell: bash
        run: |
          git config --local user.email "soup-approver@quickbird.io"
          git config --local user.name "SOUP Approver"

          if git diff --quiet; then
            echo "No changes to commit"
            exit 0
          fi
          git add .soups/*.json
          git commit -m "Temporary approval by ${{ github.triggering_actor }}"
          git push origin HEAD
